@charset "utf-8";

/* -----------------------------------------------------------------------------

Table of Contents

* Element
* Class

----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ---[ Element ]------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

/*body {
  margin: 0;
}

h1 {
  color: #000;
}

header {
  background: green;
  padding: 1em;
  text-align: center;
}

footer {
  background: red;
  padding: 1em;
  text-align: center;
}*/

/* -------------------------------------------------------------------------- */
/* ---[ Class ]-------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/*.app-content {
  text-align: center;
  margin: 2em;
}*/

/* -------------------------------------------------------------------------- */
